//comunes
body{
    background-color: $backgrundC;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
iframe{
    height: 25rem;
}
h2,h3{
    color: map-get($map:$paleta, $key:"bg-h1");
}
.w-98{
    width: 98%;
}
.bg-darkGray{
    background-color: map-get($map: $paleta, $key: "footerGray");
}

.bg-darkGreen{
    background-color: map-get($map: $paleta, $key:"darkGreen");
}

.bg-soDarkGreen{
    background-color: map-get($map: $paleta, $key:"soDarkGreen");
}

.border-product{
    border-color: map-get($map: $paleta, $key:"darkGreen") !important;
    border-radius: 5px;
}