//variables globales

$soDarkGreen: rgba(23, 38, 0, 1);
$darkGreen: rgba(54, 89, 1, .95);
$basicGreen: rgba(119, 165, 19, 1);
$backgrundC: rgba(236, 242, 193, 1);
$fontC: rgba(236, 242, 60, 1);
$fontNav: #78A614;
$footerGray: #545454;
$black: rgb(21, 21, 21);
$white: rgb(225, 225, 225);
$bg-h1: #596208;
$red: rgb(210, 13, 13);

.bg-darkGray{
    background-color: $footerGray;
}

.bg-darkGreen{
    background-color: $darkGreen ;
}

.bg-soDarkGreen{
    background-color: $soDarkGreen;
}

//sizing fonts

$navBut: 1.5rem;
$formText: 1.1rem;
$textoSm: 1rem;
$cardList: 1.2rem;
$botonCompra: 1.3rem;