<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <meta name="description" content="Conocé más sobre nosotros y nuestro compromiso ambiental, enterate de nuestra forma de trabajar y de nuestra relación con la naturaleza">
        <meta name="keywords" content="cuidado del medioambiente, libre de contaminacion, lucha ambiental, naturaleza, ">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="icon" href="../imagenes/theflowerss.ico">

        <title>The Flowers - Conocé más sobre nosotros!</title>
    </head>
    <body>
<!-- ----INICIO NAV---- -->
        <nav class="navbar navbar-expand-lg navbar-light bg-darkGreen sticky-lg-top">
            <div class="container-fluid ">
                <a class="navbar-brand" href="../index.html">
                    <img src="../imagenes/logo.png" alt="Logo The Flowers" class="logo" >
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item" id="nav-t-color">
                        <a class="nav-link " aria-current="page" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="compras.html">Compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
<!-- ----FIN NAV---- -->
<!-- HEADER -->
    <header class="w-100">
        <img src="../imagenes/the-flowers.png" alt="texto decorado The Flowers" class="w-100">
    </header>
<!-- ENDS HEADER -->
<!-- COMIENZO MAIN -->
    <main>
        <div class="container py-3 w-100">
            <div class="row">
                <div class="col text-center">
                    <h1>Conocé más sobre nosotros</h1>
                </div>
            </div>
        </div>
        <div class="row bg-soDarkGreen card-border w-98 m-auto align-content-center mb-5">
            <article class="col-lg-4 d-flex align-items-center">
                <img src="../imagenes/persona-con-plantas.jpg" alt="imagen de chica feliz plantando" class="img-fluid rounded-start p-3 w-100">
            </article>
            <div class="col-lg-8 text-center mt-auto mb-auto">
                <h2 class="card-title pb-2 ">¿Qué es The Flowers?</h2>
                <p class="card-text texto" >The Flowers es una compañía local de agricultura profesional líder a nivel municipal, que ofrece una amplia gama de servicios en Seimbra y Consultoría, Ventas y Plantaciones, con capacidades regionales en todos estos servicios. Combinamos una experiencia inigualable y capacidades especializadas en más de 40 especies, impulsadas por la entrega y el arduo trabajo de sus socios y contrinyuentes. Nuestras personas cumplen la promesa de la agricultura y el ingenio humano todos los días, sirviendo a clientes en más de 12 municipios. Abrazamos el poder del cambio para crear valor y éxito compartido para nuestros clientes, personas, accionistas, socios y comunidades.</p>
            </div>
        </div>

        <div class="row bg-soDarkGreen card-border w-98 m-auto align-content-center mb-5">
            <div class="col-lg-8 text-center mt-auto mb-auto">
                <h2 class="card-title pb-2 pt-2 ">¡Ayudanos a cambiar el planeta!</h2>
                <p class="card-text texto" >¿Querés formar parte de la transformación ambiental y ser parte de la mitigación del cambio climatico y las consecuencias de las emisiones de gases? comprá nuestros productos!</p>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <a href="../Views/productos.html" class="btn btn-green my-2">¡Comprá ahora!</a>
                        </div>
                    </div>
                </div>
            </div>
            <article class="col-lg-4 d-flex align-items-center">
                <img src="../imagenes/ecofriendly.jpg" alt="Imagen de manos sosteniendo un planeta verde" class="img-fluid rounded-start p-3 w-100">
            </article>
        </div>

        <div class="row bg-soDarkGreen card-border w-98 m-auto align-content-center mb-5">
            <article class="col-lg-4 d-flex align-items-center">
                <img src="../imagenes/huellas.jpg" alt="Imagen de huellas hechas de cesped" class="img-fluid rounded-start p-3 w-100">
            </article>
            <div class="col-lg-8 text-center mt-auto mb-auto">
                <h2 class="card-title pb-2 ">¡Somos el cambio que el mundo necesita!</h2>
                <p class="card-text texto" >En The Flowers, desarrollamos nuestras actividades en un marco de respeto por el medioambiente, asegurando que los procesos de cultivado, riego, transporte, distribución, recolección, agroquímicos y comercialización en los municipios de Salta Capital y Cerrillos.</p>
                <h3 class="card-title pb-2">Nuestra política ambiental</h3>
                <div>
                    <ul>
                        <li class="texto cardList">Controlando los impactos sobre los aspectos relacionados con la prevención de la contaminación, protección y preservación del medioambiente y los recursos naturales en los que tenemos influencia</li>
                        <li class="texto cardList">Mejorando continuamente nuestras prácticas ambientales, dando cumplimiento a los objetivos, metas y programas ambientales</li>
                        <li class="texto cardList">Comprometiendo a los colaboradores, proveedores y contratistas a desarrollar una actitud respetuosa hacia el medioambiente, estableciendo y verificando criterios ambientales acordes con los lineamientos de esta Política Ambiental.</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>







<!-- FINALIZA MAIN -->

<!-- ----Footer---- -->

<div class="container-fluid text-center bg-darkGray mt-3">
    <h3 class="card-title">Seguinos en nuestras redes!</h3>
    <a href="https://www.facebook.com" target="_blank">
        <img src="../imagenes/facebook.png" alt="logo de Facebook" class="img-footer">
    </a>
    <a href="https://www.instagram.com"  target="_blank">
        <img src="../imagenes/instagram.png" alt="logo Instagram" class="img-footer">
    </a>
    <a href="https://www.youtube.com"  target="_blank">
        <img src="../imagenes/youtube.png" alt="logo Youtube" class="img-footer">
    </a>
</div>

<!-- ----end footer---- -->




    <!-- -----SCRIPTS----- -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>